<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3786481838317702</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3786481838317702</string>
	<key>FacebookDisplayName</key>
	<string>Cap2Code</string>
	<key>FacebookClientToken</key>
	<string>fa83d502c25d2946e890d57c2fe2b21c</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
